@model Task2.Models.ViewModels.CartIndexViewModel
@{
    ViewData["Title"] = "Index";
}
@*<input type="hidden" class="jCurrentUserId" value="@Model.CurrentUserId"/>*@
<button class="btn btn-success">@Html.ActionLink("Go to Categories", "Index", "Categories", new { userId = Model.UserId }, new { Style = "color:black" })</button><br/>
<button class="btn btn-success">@Html.ActionLink("Go to Orders", "ForUser", "Orders", new { userId = Model.UserId }, new { Style = "color:black" })</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product name</th>
            <th>Creation date</th>
            <th>Order status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                    <td>@order.Id</td>
                    <td>@order.Product.Name</td>
                    <td>@order.DateCreated</td>
                    <td>@order.OrderStatus.ToString()</td>
                    <td>
                        <button class="btn btn-success">@Html.ActionLink("Confirm", "ConfirmOrder", "Cart", new { userId = Model.UserId, orderId = order.Id }, new { Style = "color:black" })</button>
                    </td>
            </tr>
        }
    </tbody>
</table>


